
html {
    box-sizing: border-box;
}

body{
	 font-family: 'Lato', sans-serif;	
   padding: 50px 0 0 50px; /*remove this padding no need for production*/
  
}

.main{
  	width: 300px;
    height: 250px;
  	cursor: pointer;
    box-shadow: 0px 0px 2px 0px rgba(75, 93, 104, 0.25);
}
.container {
    width: 300px;
    height: 250px;
    display: flex;
    background-color: #fff;
    overflow: hidden;
}

.banner__img {
  	background-image: url(../images/main__img.jpg);
  	background-size: 100%;
  	background-repeat: no-repeat;
  	background-position: center center;
  	width: 240px;
    height: 160px;
    animation-name: slideInDown;
    animation-duration: 1s;
}

.banner__text {
    overflow: hidden;
    height: 70px;
    width: 220px;
    background-color: #fff;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.banner__text p{ 
	font-size: 1.3em;
	font-weight: 700;
	color: #343434;
	line-height: 24px;
	animation-name: slideInUp;
	animation-duration: 1s;	
}

.banner__btn {
	outline: none;
	border: none;
	width: 60px;
	height: 250px;
	background-color: #F76B00;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 5px;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.1em;
	cursor: pointer;
	animation-name: slideInRight;
	animation-duration: 1s;
	
}

.banner__btn-img {
	margin-top: 10px;
}


/*-------Animations-----*/

/*-------image animation-----*/

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*-------text animation-----*/

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/*-------button animation-----*/

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
